textarea.form-control {
  height: 41px;
  max-height: 150px;

  &[disabled],
  &[read-only] {
    background: none;
  }

  &:not(.active) {
    resize: none;

    .todo-list & {
      border-color: transparent;

      &:focus {
        box-shadow: none;
      }
    }
  }

  &.active {
    resize: vertical;
  }
}

.todo-image {
  max-width: 200px;
}